<a href="https://colab.research.google.com/github/MatheusHonorato/introducao-a-ciencia-de-dados/blob/master/4_4_Machine_Learning_Tutorial_pr%C3%A1tico_usando_apenas_o_navegador.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# pelo longo?
# perna curta ?
# faz auau?
porco1 = [0, 1, 0]
porco2 = [0, 1, 1]
porco3 = [1, 1, 0]

cachorro1 = [0, 1, 1]
cachorro2 = [1, 0, 1]
cachorro3 = [1, 1, 1]

# nada a ver com os de cima

treino_x = [porco1, porco2, porco3, cachorro1, cachorro2, cachorro3]
treino_y = [1, 1, 1, 0, 0, 0] #0 cachorro 1 porco

In [0]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [0]:
animal_misterioso = [1, 1, 1]
modelo.predict([animal_misterioso])

array([0])

In [0]:
misterio1 = [1, 1, 1]
misterio2 = [1, 1, 0]
misterio3 = [0, 1, 1]

teste_x = [misterio1, misterio2, misterio3]
teste_y = [0, 1, 1]

previsoes = modelo.predict(teste_x)
previsoes

array([0, 1, 0])

In [0]:
from sklearn.metrics import accuracy_score

accuracy_score(teste_y, previsoes)

0.6666666666666666

In [0]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [0]:
dados.sample(5)

    home  how_it_works  contact  bought
34     1             0        1       1
76     0             0        1       0
58     1             0        1       1
37     0             0        1       0
28     0             1        0       0

In [0]:
x = dados[["home", "how_it_works", "contact"]]
x.head()

   home  how_it_works  contact
0     1             1        0
1     1             1        0
2     1             1        0
3     1             1        0
4     1             1        0

In [0]:
y = dados["bought"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: bought, dtype: int64

In [0]:
from sklearn.model_selection import train_test_split

modelo = LinearSVC()
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y)

modelo.fit(treino_x, treino_y)

previsoes = modelo.predict(teste_x)
accuracy_score(teste_y, previsoes) * 100

92.0

In [0]:
treino_x.shape

(74, 3)

In [0]:
teste_x.shape

(25, 3)